@import url("https://fonts.googleapis.com/css?family=Roboto:wght@300;400&display=swap");
@font-face {
  font-family: title-font;
  src: url(.//fonts/Oswald-Light.ttf);
}
.site {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
body {
    background-color: rgb(255, 248, 231);
}
body ::selection {
    background: #000;
    color: rgb(255, 248, 231);
  }
button ::selection {
    background: rgb(255, 248, 231);
    color: black;
}
button > svg {
    fill: rgb(255, 248, 231);
}
img, button > svg {
    max-height: 15px;
}
button {
    color: rgb(255, 248, 231);
    background-color: black;
    text-transform: uppercase;
    height: 30px;
    display: flex;
    align-items: center;
}
h1, button {
    font-family: title-font;
    text-decoration: underline;
}
h3, p {
    font-family: "Roboto";
}
.article {
    padding-left: 5vw;
    padding-right: 5vw;
}
.site {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .article1 { grid-area: 1 / 1 / 2 / 3; }
    .article2 { grid-area: 2 / 1 / 3 / 2; }
    .article3 { grid-area: 3 / 1 / 4 / 2; }
    .article4 { grid-area: 2 / 2 / 3 / 3; }
    .article5 { grid-area: 3 / 2 / 4 / 3; }
    .article6 { grid-area: 1 / 3 / 2 / 4; }
    .article7 { grid-area: 2 / 3 / 3 / 4; }